* {
    padding: 0;
    margin: 0;
}
.heading {
    text-align: center;
    padding: 2.5rem;
}
.heading span {
    font-size: 3.5rem;
    background: rgba(255, 155, 0, .2);
    color: orange;
    border-radius: .5rem;
    padding: .2rem 1rem;
}
.heading .space {
    background: none;
} 
.book .row {
    display: flex;
    flex-wrap:wrap ;
    gap: 40px;
    align-items:center;
    padding: 20px;
}
.book .row .img img{
    width: 650px;
    height: 580px;
}
.book .row form {
    box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.2);
    flex: 1 1 ;
    padding: 10px;
}
.book .row form .inputBox {
    padding: 10px 0;
}
.book .row form .inputBox input{
    width: 40%;
    padding: 10px;
    border: .1rem solid rgba(0, 0, 0, .1);
    font-size: 20px;
    color: #333;
    text-transform: none;
}
.book .row form .inputBox h3 {
    text-transform: capitalize;
    font-size: 20px;
    padding: 1rem 0;
}
.btn {
    display: block;
    margin: auto;
    border-radius: 50px;
    margin-top: 25px;
    background-color: rgb(155, 155, 179);
}
