* {
    padding: 0;
    margin: 0;
}
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: rgb(197, 167, 129);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: rgb(197, 167, 129);

}

.section-title.text-start::before 
.section-title .text-start::after {
    display: none;
}

.book .row {
    display: flex;
    flex-wrap:wrap ;
    gap: 40px;
    align-items:center;
    padding: 20px;
}
.book .row .img img{
    width: 650px;
    height: 580px;
}
.book .row form {
    box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.2);
    flex: 1 1 ;
    padding: 10px;
}
.book .row form .inputBox {
    padding: 10px 0;
}
.book .row form .inputBox input{
    width: 40%;
    padding: 10px;
    border: .1rem solid rgba(0, 0, 0, .1);
    font-size: 20px;
    color: #333;
    text-transform: none;
}
.book .row form .inputBox h3 {
    text-transform: capitalize;
    font-size: 20px;
    padding: 1rem 0;
}
.btn {
    display: block;
    margin: auto;
    border-radius: 50px;
    margin-top: 25px;
    background-color: rgb(155, 155, 179);
}
