* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*navbar*/
#navbar {
    position: sticky;
    top: 0;
    background: white;
}

li {
    padding: 5px;
}

.nav-link {
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    
}

.nav-link:hover{
    border-bottom: 1px solid white;
} 

.navbar-brand img {
    border-radius: 20%;
    width: 100px;
}

.navbar-nav .nav-link {
    margin-right: 10px;
    padding: 25px 0;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.nav-item input{
    width: 120px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
}

.nav-item button i{
   font-size: 20px;
   margin-top: 25px;
}

.nav-item .icon {
color: white;
}

.btn.btn-primary, .btn.btn-secondary {
    color: #fff;
}

.icons i {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.icons i:hover{
    color: orange;
}

section{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(image/contactbg.jpg);
    background-size: cover;
    height: 100vh;
}

section .container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
section .container .contactinfo {
    position: relative;
    top: 40px;
    transform: translate(120px, 0px);
    margin-top: 15px;
    width: 300px;
    height: 350px;
    background: #0f3959;
    z-index: 1;
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
section .container .contactinfo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactinfo .info {
    position: relative;
}
section .container .contactinfo .info li {
    color: #fff;
    font-size: 19px;
    position: relative;
    list-style: none;
    display: flex;
    cursor: pointer;
    align-items: flex-start;
}

section .container .contactinfo .sci {
    position: relative;
    display: flex;
}
section .container .contactinfo .sci li {
    list-style: none;
    margin-right: 15px;
}

section .container .contactinfo .sci li a i {
   color: #fff;
}
section .container .contactinfo .sci li:hover a i {
    color: rgb(233, 233, 162);
}
section .container .contactForm {
    position: absolute;
    padding: 30px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px  rgba(0, 0, 0, .2);
    width: 700px;
    height: 300px;
    transform: translate(400px, 80px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
section .container .contactForm h2 {
    color:#fff;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
} 
section .container .contactForm .formBox .inputBox {
    position: relative;
    margin: 0 0 35px 0;
}
section .container .contactForm .formBox .inputBox .w50 {
    width: 40%;
}
section .container .contactForm .formBox .inputBox .w100 {
    width: 100%;
}
section .container .contactForm .formBox .inputBox input,
section .container .contactForm .formBox .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    resize: none;
    font-weight: 300;
    font-size: 18px;
    color: #333;
    background: transparent;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}
section .container .contactForm .formBox .inputBox textarea {
    min-height: 80px;
}
section .container .contactForm .formBox .inputBox span {
    position: relative;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color:black;
    transition: 0.5s;
    pointer-events: none;
}
section .container .contactForm .formBox .inputBox input:focus ~ span,
section .container .contactForm .formBox .inputBox textarea:focus ~ span,
section .container .contactForm .formBox .inputBox input:valid ~ span,
section .container .contactForm .formBox .inputBox textarea:valid ~span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}
section .container .contactForm .inputBox input[type="submit"] {
    width: 100%;
    font-size: large;
    border-radius: 10px;
    background-color: white;
    position: relative;
    cursor: pointer;
    border: none;
    padding: 12px;
}
section .container .contactForm  .inputBox input[type="submit"]:hover {
    background: rgb(50, 197, 223);
}

/*heading*/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: rgb(197, 167, 129);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: rgb(197, 167, 129);

}

.section-title.text-start::before 
.section-title .text-start::after {
    display: none;
}

/*footer*/
.footer {
    position: relative;
    padding-top: 60px;
}

.footer .row a {
    text-decoration: none;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border: 1px solid #fff;
    border-radius: 35px;
    transition: 0.3s;
}

.footer .btn.btn-link {
    display: block;
    margin-right: 5px;
    padding: 0;
    text-align: left;
    color: white;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family:"Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}


