/*navbar*/
*{
    margin: 0;
    padding: 0;
}
#navbar {
    position: sticky;
    top: 0;
    background: white;
}

li {
    padding: 5px;
}

.nav-link {
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    
}

.nav-link:hover{
    border-bottom: 1px solid white;
} 

.navbar-brand img {
    border-radius: 20%;
    width: 100px;
}

.navbar-nav .nav-link {
    margin-right: 10px;
    padding: 25px 0;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.nav-item input{
    width: 120px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
}

.nav-item button i{
   font-size: 20px;
   margin-top: 25px;
}

.nav-item .icon {
color: white;
}

.btn.btn-primary, .btn.btn-secondary {
    color: #fff;
}

.icons i {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.icons i:hover{
    color: orange;
}
.book {
    padding: 0;
    margin: 0;
    color: white;
}

/*room*/
.rooms-item img {
    width: 400px;
    height: 220px;
    transition: .5s;
}
.rooms-item:hover img {
    transform: scale(1.1);
}
.b .btn {
    display: block;
    margin: auto;
    width: 140px;
}
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: rgb(197, 167, 129);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: rgb(197, 167, 129);

}

.section-title.text-start::before 
.section-title .text-start::after {
    display: none;
}

/*footer*/
.footer {
    position: relative;
    padding-top: 60px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border: 1px solid #fff;
    border-radius: 35px;
    transition: 0.3s;
}

.footer .btn.btn-link {
    display: block;
    margin-right: 5px;
    padding: 0;
    text-align: left;
    color: white;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family:"Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .row a {
    text-decoration: none;
}