/********** Template CSS **********/

.fw-medium {
    font-weight: 500 !important;
}

.fw-semi-bold {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .nav-item {
    margin-left: 10px;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*about*/
.top {
    margin-top: 80px;
}
.mtop {
    margin-top: 40px;
}
.container {
    max-width: 95%;
    margin: auto;
    
}
.heading {
    text-align: center;
}
.heading h5 {
    font-weight: 400;
    letter-spacing: 5px;
    color: #cc8c18;
    padding-top: 20px;
    text-transform: uppercase;
}
.heading h2 {
    color: #24416b;
    font-size: 45px;
    font-family: serif;
    font-weight: bold;
    margin: 10px 0 20px 0;
}
.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
}
.left, .right {
    width: 50%;
}
h3 {
    font-size: 35px;
    font-family: serif;
    color: #24416b;
    margin-bottom: 20px;
}
.about .left {
    padding: 20px;
    flex: 1;
    min-width: 300px;
}
.content p {
    line-height: 30px;
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
}
.about {
    position: relative;
    padding-bottom: 70px;
}
.about .right {
    position: relative;
}
.right img {
    flex: 1;
    width: 600px;
    height: 400px;
}
.about .right::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #cc8c18;
    width: 90%;
    height: 61vh;
    z-index: -1;
    margin: 50px;
}
button {
    background: #cc8c18;
    color: white;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
}
button i {
    margin-left:20px;
    font-size: 25px;
}
button span {
    margin-top: 5px;
}

@media (max-width:780px) {
    .content {
        flex-direction: column-reverse;
    }

    .about .right::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #cc8c18;
        width: 480px;
        height: 59vh;
        z-index: -1;
    }

    .about .left h3{
        font-size: 26px;
        min-width: 450px;
    }

    .about .left p {
        font-size: 16px;
        min-width: 450px;
    }

}


/*heading*/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: rgb(197, 167, 129);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: rgb(197, 167, 129);

}

.section-title.text-start::before 
.section-title .text-start::after {
    display: none;
}

/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}

/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}